Triton_1020GearRatio/tracking_logs/
__pycache__/
*.pyc
Triton_1020GearRatio/__pycache__/
Triton_1020GearRatio/__pycache__/OdrivePro_ACL60250_Motors_PositionInput.cpython-314.pyc
Triton_1020GearRatio/__pycache__/satellite_tracking.cpython-314.pyc
Triton_1020GearRatio/tracking_replays/STARLINK-11591__DTC_20260406_212850_reference.csv
Triton_1020GearRatio/tracking_replays
Triton_1020GearRatio/TLE/

Triton_1020GearRatio/gui_code_variable_map.pdf
Triton_1020GearRatio/gui_code_variable_map.xlsx
Triton_1020GearRatio/Control Law.docx
